<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Created by Q-Solutions Studio
 *
 * @category    Nanobots
 * @package     Nanobots_Core
 * @author      Jakub Winkler <jwinkler@qsolutionsstudio.com> @MagentoNinja
 * @author      Sebastian Strojwas <sebastian@qsolutionsstudio.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nanobots" translate="label" sortOrder="5000">
            <label>eCommerce Nanobots</label>
        </tab>
    </system>
</config>
